.transactionHistory{

    width: 700px;
    margin-left:auto;
    margin-right:auto;

    margin-bottom: 50px;

    
    
}

.TableHead{
    height:30px;

    background-color: rgb(51, 204, 204);
}

.ColumnName {
    font-size: 16px;
    font-weight:500;
    
    text-transform:uppercase;
    color: #fff;

}

.TableLine:nth-child(2n){
    background-color: rgb(230, 230, 230);
    }
    
    .TableLine {
        height:40px;
        text-align:center;
    
        color: rgb(140, 140, 140);
    }
    
    .TransType::first-letter {
    text-transform: uppercase;
    }